/*--BASIC STYLES--*/

body {
    font-family: Montserrat;
}

h1, h2, h3 {
    font-weight: 600;
}

/*flex basics*/
.flex-container {
  display: flex;
}

.flex-item {
  flex-grow: 1; /* default 0 */
}

.availability-table-row {
  display: flex;
}

#building-diagram {
  height: 500px;
}

/*<>COPY STYLES<>*/
.kicker {
    color: grey;
    margin-bottom: 6px;
    font-weight: 100;
}

