/*--BASIC STYLES--*/

body {
    font-family: Montserrat;
}

h1, h2, h3 {
    font-weight: 600;
}

/*flex basics*/
.flex-container {
  display: flex;
}

.flex-item {
  flex-grow: 1; /* default 0 */
}

.availability-table-row {
  display: flex;
}

#building-diagram {
  height: 500px;
}

/*<>COPY STYLES<>*/
.kicker {
    color: grey;
    margin-bottom: 6px;
    font-weight: 100;
}

/*<>GFX STYLES<>*/
.suites {
display: block;
}

.suite-hidden {
  visibility: hidden;
}
.base{
  fill:#FFFFFF;
}
.suite{
  fill:#1ED4E2; fill-opacity: 0.25;
}
.suite-hover{
  fill:#1ED4E2; opacity: 0.75;
}
.huh{
  opacity:0.5;
}
.detail-lines{
  fill:none;
  stroke:#000000;
  stroke-width:0.5;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.building-outline{
  fill:none;
  stroke:#000000;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}
